* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;   /* disables scrolling */
}

body {
    background-color: black;
}

#github {
    position: fixed;
    width: 17.5vw;
    background: rgba(255, 255, 255, 0.15);
    margin: 0.5vw;
    display: flex;
    align-items: center;   /* vertical alignment */
    gap: 0.5vw;             /* space between image and text */
}

#git_img {
    width: 5%;
}

p {
    color: rgba(223, 242, 248, 0.85)
}

a {
    text-decoration: none;
}
